<h1>Inventories:</h1>

<table>
	<thead>
		<tr>
			<th colspan="3"></th>
		</tr>
	</thead>

<tbody>
		<% @inventories.each do |inventory| %>
			<tr>
				<td><%= link_to inventory.store.address, inventory_path(inventory)%></td>
				<td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
			</tr>
		<%end%>
	</tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>

