<%= link_to 'Products and Produce', products_path %>
<%= link_to 'Store Locations', stores_path %>
<%= link_to 'Inventory', stocks_path %>


<div class="container">
    <h1>New Product</h1>

    <%= render 'form', product: @product %>
</div>